.column{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 10px;
    margin: 20px;
}

.column > div{
    background: #fff;
    padding: 20px;
}

button{
    padding: 10px;
    margin: 10px;
}